{% extends 'checkout/base_payment_client.html' %}
{% load static %}

{% block content %}


{% comment %}
    {{ form.errors }}
{% endcomment %}
    


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" id="form-external">
                        {% csrf_token %}
                        
                        <div class="row mb-2">
                            <div class="col-md-4">
                                <label class="text-muted lead" >Nombres:</label>
                                {{form.names}}
                            </div>
                            <div class="col-md-4">
                                <label class="text-muted lead" >Primer Apellido:</label>
                                {{form.first_surname}}
                            </div>		
                            <div class="col-md-4">
                                <label class="text-muted lead" >Segundo Apellido:</label>
                                {{form.second_surname}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-4 ">
                                <label class="text-muted lead" >Documento de Identidad:</label>
                                {{form.identity}}
                                <span class="text-danger field-error text-md">
                                    {{ form.identity.errors }}
    
                                </span>
                            </div>
                            
                    
                            <div class="col-md-4">
                                <label class="text-muted lead" >Teléfono Celular:</label>
                                {{form.mobile}}
                                <span class="text-danger" id="error_id_formulario2-mobile"></span>
                                <span class="text-success" id="success_id_formulario2-mobile"></span>
                                <span class="text-danger field-error text-md">
                                    {{ form.mobile.errors }}
    
                                </span>
                            </div>
                        
                            <div class="col-md-4 ">
                                <label id="tuition_title" class="text-muted lead" >Teléfono Fijo:</label>
                                {{form.phone}}
                            </div>
                                
                        </div>
                    
                        <div class="row mb-2">
                            
                            <div class="col-md-5">
                                <label class="text-muted lead" >Correo Electrónico:</label>
                                {{form.email}}
                            <span class="text-danger" id="error_id_formulario2-email"></span>
                            <span class="text-success" id="success_id_formulario2-email"></span>
                            <span class="text-danger field-error text-md">
                                {{ form.email.errors }}

                            </span>
                            </div>
                                
                                
                            <div class="col-md-5 ">
                                <label class="text-muted lead">Dirección:</label>
                                {{form.address}}
                            </div>
                            
                            
                        </div>	
                        
                        <div class="row mb-2">
                            <div class="col-md-4 ">
                                <label class="text-muted lead" >Contraseña:</label>
                                {{form.password1}}
                                <span class="text-danger field-error text-md">
                                    {{ form.password1.errors }}
                                </span>
                            </div>
                            <div class="col-md-4 ">
                                <label class="text-muted lead" >Confirma tu Contraseña:</label>
                                {{form.password2}}
                            </div>
                            <span class="text-danger" id="password_error_form2"></span>
                            
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12 ">
                                <div class="row mt-3">
                                    <div class="form-group">
                                        <div class="form-check ml-3">
                                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                          <label class="form-check-label text-success font-weight-bold" for="invalidCheck2">
                                        <!-- Button trigger modal -->
                                            <a href="#exampleModalLong" data-toggle="modal" data-target="#exampleModalLong" class=" text-success font-weight-bold">
                                                Aceptar los terminos y condiciones del codigo de ética
                                            </a>
                                          </label>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'login' %}" class="btn btn-danger mr-3 mt-3"> 
                                Cancelar
                            </a>
                            <button class="btn btn-primary mt-3"> 
                                Registrarme
                            </button>
                        </div>
                    </form>	

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    {% include 'register/modal.html' %}
</div>

<script src="{% static 'vendor/jquery3/jquery.min.js' %}"></script>
<script>
    const name =  document.getElementById('id_names')
    const first_surname =  document.getElementById('id_first_surname')
    const second_surname =  document.getElementById('id_second_surname')
    const identity =  document.getElementById('id_identity')
    const mobile =  document.getElementById('id_mobile')
    const address =  document.getElementById('id_address')

    //Add Upper class
    name.classList.add('upper-case')
    first_surname.classList.add('upper-case')
    second_surname.classList.add('upper-case')
    address.classList.add('upper-case')

    identity.addEventListener('input', (e)=>{
        if(identity.value.length >11){
            e.target.value = e.target.value.substring(0,11);
            return false;
        }
    })

    mobile.addEventListener('input', (e)=>{
        if(mobile.value.length >9){
            e.target.value = e.target.value.substring(0,9);
            return false;
        }
    })

    name.addEventListener('keydown', (e) =>{
        //console.log("tecla",e.keyCode)

        if(e.keyCode >= 48 && e.keyCode <=57 || e.keyCode==187 || e.keyCode==188 || e.keyCode==189 || e.keyCode==190 || e.keyCode==191 || e.keyCode==192 || e.keyCode==219 || e.keyCode==220 || e.keyCode==221 || e.keyCode==222 || e.keyCode==225 ){
            e.preventDefault()
        }
        
    })

    first_surname.addEventListener('keydown', (e) =>{
        console.log("tecla",e.keyCode)

        if(e.keyCode >= 48 && e.keyCode <=57 || e.keyCode==187 || e.keyCode==188 || e.keyCode==189 || e.keyCode==190 || e.keyCode==191 || e.keyCode==192 || e.keyCode==219 || e.keyCode==220 || e.keyCode==221 || e.keyCode==222 || e.keyCode==225 ){
            e.preventDefault()
        }
        
    })

    second_surname.addEventListener('keydown', (e) =>{
        console.log("tecla",e.keyCode)

        if(e.keyCode >= 48 && e.keyCode <=57 || e.keyCode==187 || e.keyCode==188 || e.keyCode==189 || e.keyCode==190 || e.keyCode==191 || e.keyCode==192 || e.keyCode==219 || e.keyCode==220 || e.keyCode==221 || e.keyCode==222 || e.keyCode==225 ){
            e.preventDefault()
        }
        
    })

   
    //set to Upper
    function set_upper_inputs(){
        var upper_inputs = document.getElementsByClassName('upper-case')
        for (var i = upper_inputs.length - 1; i >= 0; i--) {
            upper_inputs[i].oninput = (ev) => {
                ev.target.value = ev.target.value.toUpperCase()
            }
        }
    }
    
    set_upper_inputs()

    // name.addEventListener('keyup', (e) =>{
    //     if(e.keyCode===192){
    //         console.log('keypress xd')
    //         e.target.value=""
            
    //         alert('no se permiten tildes')
    //         e.preventDefault()
            
    //     }

    // })

   
</script>

{{ExternalUserForm}}


{% endblock content %}

       

     