{% extends 'base_nfr.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'stylos/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylos/css/iconos.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
    
    <div class="container ">
        <div class="row text-center">
            <div class="col-2">
                <a href="{% url 'dateregister_norm' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:black;"width="35" height="35" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                </a>
            </div>
    
            <div class="col-8">
                <h1 class="gUppercase gFontWeight700">
                    Editar Normativa
                </h1>
            </div>
    
            <div class="col-2">
                <a href="{% url 'dateregister_norm' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:black;" width="35" height="45" fill="currentColor" class="bi bi-skip-end-btn-fill" viewBox="0 0 16 16">
                        <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407L9.5 8.972V10.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-1 0v1.528L6.79 5.093z"/>
                    </svg>
                </a>
            </div>
            <div class="col-1"></div>
        </div>
        <br><br>
        <form method='POST' action="/udpate_normativa/{{normativa.id}}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <label for="norma">Norma</label>
                    <input type="text" class="form-control" name="norma" value="{{normativa.norma}}" required/>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="name_deno">Titulo</label>
                        <input type="text" name="name_deno" class="form-control" value="{{normativa.name_denom}}" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="base">Base Legal</label>
                    <input type="text" name="base_legal" class="form-control" value="{{normativa.base_legal}}" required/>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fecha_publi">Publicacion</label>
                        <input type="date" name="fecha_publi" class="form-control" value="{{normativa.fecha_publi|date:"Y-m-d"}}" required min="1900-01-01" max="{{fecha_hoy}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label> Tipo de Norma: </label>
                    <select class="form-select" aria-label="Default select example" name="tip_norma" id="tipo_norma">
                                            {% for tipo_norma in tipo_normativa %}
                                                <option value="{{tipo_norma.id}}">{{tipo_norma.subcategory_name}}</option>
                                            {% endfor %}
                                    </select>
                </div>
                <div class="col-6">
                    <label> Tipo de Uso: </label>
                    <select class="form-select" aria-label="Default select example" name="tip_uso" id="tipo_uso">
                                    {% for tipo_uso in tipo_uso %}
                                        <option value="{{tipo_uso.id}}">{{tipo_uso.area_name}}</option>
                                    {% endfor %}
                                </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label>Adjuntar Documento</label>
                        <br>
                        
                        {% if normativa.document %}
                                    <a class="text-dark" target="_blank" href="{{normativa.document.url}}">
                                        <b> Esta Normativa tiene archivo (click para ver) </b>
                                    </a>
                        {% endif %}
                        
                        <br>
                        <br>
                        <input type="file" name="documento"/>
                      </div>
                      <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="es_foro" name="es_foro">
                            <label class="form-check-label" for="es_foro">Foro</label>
                          </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="es_vigente" name="es_vigente">
                            <label class="form-check-label" for="es_vigente">Vigente</label>
                          </div>
                    </div>
                </div>
                <div class="col-6">
                    <label>Descripción breve</label><br>
                    <textarea class="form-control" rows="5" maxlength="200" name="descripcion">{{ normativa.descripcion }}</textarea>
                </div>
            </div>
            <br><br>
            <button class="btn btn-block btn-primary" type="submit" >Editar Norma</button>
        </form>
            
    </div>
{% endblock %}


{% block js %}

    <script>

        $('#tipo_norma').val('{{normativa.tipo_norma_id}}')    
        $('#tipo_uso').val('{{normativa.tipo_uso_id}}')    
        $('#es_foro').prop('checked',  '{{normativa.es_foro}}' == 'True' ? true : false )
        $('#es_vigente').prop('checked',  '{{normativa.es_vigente}}' == 'True' ? true : false )


    </script>
{% endblock %}