{% extends 'base_nfr.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'stylos/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylos/css/iconos.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
    
    <div class="container ">
        <div class="row text-center">
            <div class="col-2">
                <a href="{% url 'home' %}">
                    <i class="fa fa-home fa-3x text-warning" aria-hidden="true"></i>
                </a>
            </div>
    
            <div class="col-8">
                <h1 class="gUppercase gFontWeight700">
                    Editar Normativa
                </h1>
            </div>
    
            <div class="col-2">
                <a href="{% url 'dateregister_norm' %}">
                    <i class="fa fa-arrow-right fa-3x text-warning" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-1"></div>
        </div>
        <br><br>
        <form method='POST' action="/udpate_normativa/{{normativa.id}}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <label for="norma">Norma</label>
                    <input type="text" class="form-control" name="norma" value="{{normativa.norma}}" required/>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="name_deno">Titulo</label>
                        <input type="text" name="name_deno" class="form-control" value="{{normativa.name_denom}}" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="base">Base Legal</label>
                    <input type="text" name="base_legal" class="form-control" value="{{normativa.base_legal}}" required/>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fecha_publi">Publicacion</label>
                        <input type="date" name="fecha_publi" class="form-control" value="{{normativa.fecha_publi|date:"Y-m-d"}}" required min="1900-01-01" max="{{fecha_hoy}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label> Tipo de Norma: </label>
                    <select class="form-select" aria-label="Default select example" name="tip_norma" id="tipo_norma">
                                            {% for tipo_norma in tipo_normativa %}
                                                <option value="{{tipo_norma.id}}">{{tipo_norma.subcategory_name}}</option>
                                            {% endfor %}
                                    </select>
                </div>
                <div class="col-6">
                    <label> Tipo de Uso: </label>
                    <select class="form-select" aria-label="Default select example" name="tip_uso" id="tipo_uso">
                                    {% for tipo_uso in tipo_uso %}
                                        <option value="{{tipo_uso.id}}">{{tipo_uso.area_name}}</option>
                                    {% endfor %}
                                </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="form-group">
                        <label>Adjuntar Documento</label>
                        <br>
                        
                        {% if normativa.document %}
                                    <a class="text-dark" target="_blank" href="{{normativa.document.url}}">
                                        <b> Esta Normativa tiene archivo (click para ver) </b>
                                    </a>
                        {% endif %}
                        
                        <br>
                        <br>
                        <input type="file" name="documento"/>
                      </div>
                      <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="es_foro" name="es_foro">
                            <label class="form-check-label" for="es_foro">Foro</label>
                          </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="es_vigente" name="es_vigente">
                            <label class="form-check-label" for="es_vigente">Vigente</label>
                          </div>
                    </div>
                </div>
                <div class="col-6">
                    <label>Descripción breve</label><br>
                    <textarea class="form-control" rows="5" maxlength="200" name="descripcion">{{ normativa.descripcion }}</textarea>
                </div>
            </div>
            <button class="btn btn-lg btn-primary float-right" type="submit" >Guardar Cambios</button>
        </form>
        <h2 class="text-center mt-5"> Editar Palabras Clave</h2>
        {% include '../partials/_palabras_clave.html' %}
        
    </div>
{% endblock %}


{% block js %}

    <script>

        $(document).ready(function() {
            $('#tipo_norma').val('{{normativa.tipo_norma_id}}')    
            $('#tipo_uso').val('{{normativa.tipo_uso_id}}')    
            $('#es_foro').prop('checked',  '{{normativa.es_foro}}' == 'True' ? true : false )
            $('#es_vigente').prop('checked',  '{{normativa.es_vigente}}' == 'True' ? true : false )
            
            $("#registrar_palabras").submit( function(e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize()
                  }).done(function(data) {
                    $('.select-tags').val(null).trigger('change');
                    html = ``
    
                    data.forEach((e) => {
                        html += /*html*/
                                `<tr>
                                    <th scope="row">${e.id}</th>
                                    <td>${e.name}</td>
                                    <td>
                                        <button type="button" onclick="eliminarPc(${e.id})" class="btn btn-block btn-danger">    
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>`
                    })
    
                    document.getElementById('normativas_palabras_clave').innerHTML = html;
    
                  });
            })
    
            
            
    
        });
    
        function eliminarPc(id) {
            $.ajax({
                url: `{% url 'eliminar-palabras-clave-normativa' normativa.id %}`,
                data: {
                    'palabra_clave_id' : id
                }
                }).done(function(data) {
    
                html = ``
    
                data.forEach((e) => {
                    html += /*html*/
                            `<tr>
                                <th scope="row">${e.id}</th>
                                <td>${e.name}</td>
                                <td>
                                    <button type="button" onclick="eliminarPc(${e.id})" class="btn btn-block btn-danger">    
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>`
                })
    
                document.getElementById('normativas_palabras_clave').innerHTML = html;
    
                });
        }

    </script>
{% endblock %}