{% extends 'base_nfr.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Registrar Normativa</h1>
        <br><br>
        
        {% if errors %}
            <div class="alert alert-error">
            <h4>Please fix the following errors</h4>
            <ul>
                {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
                    {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
            </div>
        {% endif %}

        <form method='POST' id="fileForm" action="{% url 'registrar-normativa' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <label for="norma">Norma</label>
                    <input type="text" class="form-control" name="norma" required/>
                </div>
                <div class="col-6">
                        <div class="form-group">
                            <label for="name_deno">Titulo</label>
                            <input type="text" name="name_deno" class="form-control" required/>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="base">Base Legal</label>
                    <input type="text" name="base_legal" class="form-control" required/>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="fecha_publi">Publicacion</label>
                        <input id="id_fecha" type="date" name="fecha_publi" class="form-control" required  min="1900-01-01" max="{{fecha_hoy}}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label> Tipo de Norma: </label>
                    <select class="form-control" aria-label="Default select example" name="tip_norma" >
                            {% for a in normativa %}
                                <option value="{{a.id}}">{{a.subcategory_name}}</option>
                            {% endfor %}
                    </select>
                </div>
                    <div class="col-6">
                        <label> Tipo de Uso: </label>
                        <select class="form-control" aria-label="Default select example" name="tip_uso">
                            {% for tipo in tipo_uso %}
                                <option value="{{tipo.id }}">{{tipo.area_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Adjuntar Documento</label><br>
                        <input id="id_file" type="file" name="documento"/>
                    </div>
                    <div class="mt-3">
                        <div class="shadow w-full bg-gray-100">
                            <div class="progress">
                                <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                              </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <h3 id="status"></h3>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="es_vigente" name="es_vigente">
                            <label class="custom-control-label" for="es_vigente">Vigente</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="es_foro" name="es_foro">
                            <label class="custom-control-label" for="es_foro">Foro</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <label>Descripción breve</label><br>
                    <textarea class="form-control" rows="5" maxlength="200" name="descripcion"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label>
                    Palabra Clave:
                </label>
                <select class="form-control select-tags" name="palabras_clave[]" multiple="multiple" style="width:100%;" id="select4">
                    {% for pc in palabras_clave %}
                        <option value="{{pc.name}}"> {{pc.name}} </option>
                    {% endfor %}
                </select>    
            </div>
            <br>
            <div class="row">
                <div class="col">
                   <button class="btn btn-primary btn-block" type="submit" id="submitBtn">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Guardar
                   </button>
                </div>
            </div>

        </form>

    </div>
{% endblock %}


{% block js %}
<script>
    let submitting = false
    let file = null

    function setIsSubmitting(val) {
        submitting = val
    }

    function setFile(val) {
        file = val
    }

    _("id_file").addEventListener("change", event => {
        setFile(event.target.files[0])
    })

    _("submitBtn").addEventListener("click", event => {
        if (file != null && _('id_fecha') != undefined) {
            handleSubmit(event)
            _("submitBtn").disabled = true
        }
    })

    const handleSubmit = async event => {

        setIsSubmitting(true)

        const signedUrl = await getSignedUrl()

        try {
            uploadFile(signedUrl)
        }
        catch (err) {
            setIsSubmitting(false)
            console.log(err)
            alert('There was an error uploading your file.')
            throw err
        }

        setIsSubmitting(false)
    }

    const getSignedUrl = async () => {
        const body = {
            fileName: file.name,
            fileType: file.type,
        }

        const response = await fetch("{% url 'signed-url' %}", {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {'Content-Type': 'application/json', 'X-CSRFToken': "{{ csrf_token }}"}
        })
        const { url } = await response.json()
        return url
    }

    function _(el) {
        return document.getElementById(el);
    }

    function uploadFile(signedUrl) {
        var formdata = new FormData();
        formdata.append("file", file);
        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", progressHandler, false);
        ajax.addEventListener("load", completeHandler, false);
        ajax.addEventListener("error", errorHandler, false);
        ajax.addEventListener("abort", abortHandler, false);
        ajax.addEventListener("loadend", loadendHandler, false)
        ajax.open("PUT", signedUrl);
        ajax.setRequestHeader('Content-Type', file.type)
        ajax.setRequestHeader('x-amz-acl', 'public-read')
        ajax.send(formdata);
    }

    async function submitForm() {
        _("fileForm").submit()
    }

    async function loadendHandler(event) {
        _("submitBtn").disabled = false
        await submitForm()
    }

    function progressHandler(event) {
        var percent = Math.round((event.loaded / event.total) * 100);
        _("progressBar").style.width = `${percent}%`;
        _("progressBar").innerText = `${percent}%`;
        _("status").innerHTML = percent + "% Subiendo.. espere un momento";
    }

    function completeHandler(event) {
        _("status").innerHTML = event.target.responseText;
        _("progressBar").style.width = 0;
        _("progressBar").innerText = "0%";
    }

    function errorHandler(event) {
        _("status").innerHTML = "Por favor espere";
    }

    function abortHandler(event) {
        _("status").innerHTML = "Upload Aborted";
    }
</script>
{% endblock %}