{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% block css %}
<link href="{% static 'css/css-estilos_das.css' %}" rel="stylesheet">
{% endblock %}

<div class="container py-5">

    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 padre">
                    <div class="box-3 hijo-1">
                        <div class="d-flex align-items-center text-1" style="height: 45%;">
                            <p class="m-0">{{topico_norma.name}}</p>
                        </div>
                        <a href="{% url 'buscador' %}?t={{topico_norma.id}}">
                            <div class="d-flex align-items-center text-2" style="height: 35%;">
                                <p class="m-0"><b>{{topico_norma.button}} <i class="fas fa-search text-dark"></i></b></p>
                            </div>
                        </a>
                        <div class="d-flex align-items-end text-3" style="height: 20%;">
                            <p class="m-0">Por favor seleccione una subcategoría:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                            <div class="box" style="box-shadow: none !important;">
                                <div class="box-content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for gtn in grupos_tipo_norma %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                    <a href="{% url 'buscador' %}?norma={{gtn.name}}&gtn={{gtn.id}}&t={{gtn.topico_id}}">
                        <div class="box shadow-lg">
                            <div class="box-content">
                                <div class="h-70 d-flex justify-content-center align-items-center">
                                    {% if gtn.icono %}
                                    <img src="{{ gtn.icono.url }}" alt="" class="h-75">
                                    {% else %}
                                    <img src="{% static 'img/icono-circulo.png' %}" alt="" class="h-75">
                                    {% endif %}

                                </div>
                                <div class="h-30 d-flex justify-content-center align-items-center">
                                    <h5 class="text-center  h-100">{{ gtn.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                    <div class="box shadow-lg" style="background-color: #418cc8;">
                        <div class="box-content">
                            <div class="h-100 d-flex justify-content-center align-items-center">
                                <h1 class="text-center text-white">Espacio para anunciante</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                    <div class="box shadow-lg" style="background-color: #418cc8;">
                        <div class="box-content">
                            <div class="h-100 d-flex justify-content-center align-items-center">
                                <h1 class="text-center text-white">Espacio para anunciante</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                    <div class="box shadow-lg" style="background-color: #2e3192;">
                        <div class="box-content">
                            <div class="h-100 d-flex justify-content-center align-items-center">
                                <h1 class="text-center text-white">Colocar link para boletin legal</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}

<!--endjohao-->

{% block script %}
{% endblock %}

{% block js %}

{% endblock %}