{% extends 'base_nfr.html' %}
{% load static %}

{% block content %}

{% block css %}
<link href="{% static 'css/css-estilos_das.css' %}" rel="stylesheet">
{% endblock %}

  
<!--   Area Form    -->
<script type="text/javascript">
    function submitByEnter(e) {
        if (e.keyCode == 13) {
            document.getElementById("FormListado:b_RealizaBusqueda").click();
            return false;
        }
        else {
            return true;
        }
    }
</script>
<br>
<div class="row m-0 text-center">
    <div class="col-2">

        <a href="{% url 'home' %}">
            <i class="fa fa-home fa-3x text-warning" aria-hidden="true"></i>
        </a>

        <div class="my-5 py-5">
            <a  href="{% url 'home' %}">
                <img class="img-fluid" src="{% static 'img/logo_cap.png' %}"   class="d-inline-block align-top" alt="">
            </a> 
        </div>   

    </div>

    <div class="col-8" >
        <h1 class="gUppercase gFontWeight700" >
            Reglamento Comentado
        </h1>
        <a href="{% url 'norma_urb' %}?t=2" class="btn btn-lg btn-warning text-dark mb-0" style="z-index: -100;" > <b> Búsqueda de normas </b> <i class="fas fa-search text-dark"> </i> </a>
    
        <div class="mt-0 pt-0 gContainer gPositionRelative gContenido align-middle" style="width:100%;">
            <div class="mt-0 pt-0 gAlignCenter">     
                
                
                <hr class="gSeparator gSeparatorTrans gSeparator20">
                <div class="gRowTemp">
                    
                    {% for n in normas %}
                        {% if n.order|length == 2 %}
                        
                            <a href="{% url 'norma_urb' %}?norma={{n.name}}&ne={{n.id}}&t=2" class="mx-3 mb-sm-2 mb-md-5  gInlineBlock gWidth200 gPositionRelative gCircleBox gVerticalTop gPaddingBottom25 gCircleBox2">
                                <div class="gWidth50 gHeight3 gFondoCircleAmarilo gBlock gPositionAbsolute gBottom0 gLeft0 gRight0 gMarginAuto gAnimate3 gZindex1 gLine"></div>
                                
                                <div class="gWidth120 gHeight120 gLineHeight120 gInlineBlock gFondoBlanco gBorderRadius100p gBorder4 gBorderCircleAmarillo gBoxShadowBottom gPositionRelative gAnimate gTop0 gZindex2 gImgg">
                                    <img class="img-fluid mt-4" src="{% static 'images/edificaciones.svg' %}" class="gInlineBlock gWidth57 gMarginTop31">
                                </div>
                                
                                <h5 class="gUppercase gMarginTop20 gLineHeight25 gFontWeight700 gPositionRelative gZindex2">
                                    {{ n.name }}
                                </h5>
                            </a>   

                        {% endif %}             
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <a href="{% url 'home' %}">
            <i class="fa fa-arrow-right fa-3x text-warning" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col-1"></div>
</div>



<style>
    #sidebar ul li a {
       padding: 1.4rem 2rem;
       font-size: 1.6rem;
       display: block;
       color:white;
   }
</style>
{% endblock %}

<!--endjohao-->

{% block script %}
{% endblock %}

{% block js %}

{% endblock %}
