{% extends 'base_nfr.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        
        {% for c in entity %}
        <div class="col mb-4">
            <a href="{% url 'ver-curso' c.id %}">
                <div class="card h-100">
                    {% if c.caratula %}
                        <img src="{{ c.caratula.url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="https://images.unsplash.com/photo-1431576901776-e539bd916ba2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ c.titulo }}</h5>
                    <p class="card-text">{{ c.descripcion }}</p>
                    <p class="card-text"><small class="text-muted">{{ c.fecha_publicacion }}</small></p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

      </div>
</div>
{% endblock %}
