{% extends 'checkout/base_payment_agremiado.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'checkout/form-checkout.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'checkout/style.css' %}">
    <script src="{% static 'vendor/jquery3/jquery.slim.min.js' %}" ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <style>
        .border-color{
            border-style: solid;
            border-color: green;
            border-width: 2px;
        }
    </style>
    
{% endblock css %}
    

{% block body %}


    <div class="container">

        <div class="row mt-2">
             <div class="col-lg-6 col-md-8 col-sm-12 offset-1  ">
                <form method="post" action="{% url 'add_plan_cap' %}">  {% csrf_token %}
                    <div class="card">

                        <div class="card-header d-flex justify-content-center">
                            <div >
                                <i class="text-muted"><b>Escoge tu plan: </b></i> 
                                <h3 class=" " style="color: #c1a13f;">Plan Premium Agremiado</h3>
        
                            </div>
                        </div>

                        <div class="card-body">
                            <hr>
                            <div class="">
                                <div id="box_month" class="form-check card border-color card-body mb-3 d-flex justify-content-between ">
                                    <div class="pl-3" style="width: 50px;">
                                        <input class="form-check-input" type="radio" name="plan_price" id="month" value="{{pl_premium_agremiado.price_month}}" checked>
                                    </div>
                                    <label for="month">
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex flex-row justify-content-center align-items-baseline">
                                                <h5 class="simbol-price-card-color mr-2">S/ </h5>
                                                <h3 class="price-card-color">{{pl_premium_agremiado.price_month}}</h3> 
    
                                            </div>
                                            <div>
                                                <b class="text-muted ml-4"> / mensual</b>
                                            </div>
                                        </div>
                                    </label>
                                    
                                </div>

                                <div id="box_anual" class="form-check card card-body mb-3  d-flex justify-content-between ">
                                    <div class="pl-3" style="width: 50px;">
                                        <input class="form-check-input" type="radio" name="plan_price" id="anual" value="{{pl_premium_agremiado.price_year}}">
                                    </div>
                                    <label for="anual">
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex flex-row justify-content-center align-items-baseline">
                                                <h5 class="simbol-price-card-color mr-2">S/ </h5>
                                                <h3 class="price-card-color">{{pl_premium_agremiado.price_year}}</h3> 
                                            </div>
                                            <div>
                                                <b class="text-muted ml-4"> / anual</b>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                    
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-primary">Continuar</button>
                            </div>
                        </div>
                        
                            
                    </div>
                </form>
                    
    
                    

    
            </div>
            <div class="col-lg-5 col-md-2 col-sm-12">
                <div class="card" style="font-family: 'Roboto', sans-serif;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h2>Resumen del Pedido</h2>
                                </li>
                                <li style="color: #c1a13f;" class="list-group-item">
                                    <h4 id="plan_id">Plan mensual</h4>
                                </li>
                              </ul>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <div class="row d-flex justify-content-around">
                            <h3>Total:</h3>
                            <h4 id="price_id">S/{{pl_premium_agremiado.price_month}}</h4>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

{% endblock body %}


{% block js %}
        <script src="{% static 'vendor/bootstrap4/js/bootstrap.bundle.js' %}"></script>

        <script>

            let month = document.getElementById('month')
           let anual = document.getElementById('anual')
           let plan_id = document.getElementById('plan_id')
           let price_id = document.getElementById('price_id')
           let color_card = document.getElementById('color_card')
           let box_month = document.getElementById('box_month')
           let box_anual = document.getElementById('box_anual')
           if(month == true){
               console.log('precio del mes')
           }
           month.addEventListener('click', (e)=>{
                if(month.checked == true){
                    plan_id.innerHTML = "Plan Mensual"
                    price_id.innerHTML = "{{pl_premium_agremiado.price_month}}"
                    box_month.classList.add('border-color')
                    box_anual.classList.remove('border-color')                
                }
           })

           anual.addEventListener('click', (e)=>{
                if(anual.checked == true){
                    plan_id.innerHTML = "Plan Anual"
                    price_id.innerHTML = "{{pl_premium_agremiado.price_year}}"
                    box_anual.classList.add('border-color')
                    box_month.classList.remove('border-color')
                    
                }
           })


        </script>


       
{% endblock js %}
    