{% extends 'checkout/base_payment_agremiado.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'checkout/form-checkout.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'checkout/style.css' %}">
    <script src="{% static 'vendor/jquery3/jquery.slim.min.js' %}" ></script>


    
{% endblock css %}

{% block body %}
  
  
    <div class="container ">
      <div class="row">
      
        <div class="col-md-10 order-md-1 offset-1" >
          <div class="card  mb-5">
            <div class="card-body">
                <h3>{{order.names}}, Has comprado el plan <b>Premium Agremiado</b> </h3>
                <div>
                    Para regresar a la plataforma por favor  
                    <a href="{% url 'home' %}">Vuelve al Home</a>.
                </div>
                <table class="table mt-2">
                  <thead>
                    <tr>
                      <th scope="col">Resumen del Pedido</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Importe pagado</td>
                      <td>{{order.pay_import}}</td>
                    </tr>
                    <tr>
                      <td>Fecha Inicio de la membresia</td>
                      <td>{{order.validity_date_start}}</td>
                    </tr>
                    <tr>
                      <td>Fecha de fin de la membresia</td>
                      <td>{{order.validity_date_finish}}</td>
                    </tr>
                    <tr>
                      <td>Moneda</td>
                      <td>{{order.niubiz_transaction.currency}}</td>
                    </tr>
                    <tr>
                      <td>Método de pago</td>
                      <td>{{order.niubiz_transaction.card}}</td>
                    </tr>
                  </tbody>
                </table>
                
            </div>
          </div>
         
          </div>
        </div>
      </div>


{% endblock body %}
