<div class="row mt-3">
    <div class="col">
        <div class="card">

            <div class="card-body">
                <form method="POST" action="{% url 'registrar-palabras-clave' normativa.id %}" id="registrar_palabras"> 
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <select class="form-control select-tags" name="palabras_clave[]" multiple="multiple" style="width:100%;height:100%;" id="select4">
                                    {% for pc in palabras_clave %}
                                        <option value="{{pc.name}}"> {{pc.name}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-block btn-primary">Agregar</button>
                        </div>
                        </div>
                </form>
                
                <table class="table mt-5">
                    <thead>
                      <tr>
                        <th style="width:10%" scope="col">#</th>
                        <th  scope="col">Nombre</th>
                        <th style="width:3%" scope="col">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody id="normativas_palabras_clave">
                      {% for pcn in palabras_claves_normativa %}
                        <tr>
                            <th scope="row">{{pcn.id}}</th>
                            <td>{{pcn.name}}</td>
                            <td>
                                <button type="button" onclick="eliminarPc({{pcn.id}})" class="btn btn-block btn-danger">    
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
          </div>
    </div>

</div>

<script>

    $(document).ready(function() {
    
        $("#registrar_palabras").submit( function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize()
              }).done(function(data) {
                console.log(data)
                html = ``

                data.forEach((e) => {
                    html += /*html*/
                            `<tr>
                                <th scope="row">${e.id}</th>
                                <td>${e.name}</td>
                                <td>
                                    <button type="button" onclick="eliminarPc(${e.id})" class="btn btn-block btn-danger">    
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>`
                })

                document.getElementById('normativas_palabras_clave').innerHTML = html;

              });
        })

        
        

    });

    function eliminarPc(id) {
        $.ajax({
            url: `{% url 'eliminar-palabras-clave-normativa' normativa.id %}`,
            data: {
                'palabra_clave_id' : id
            }
            }).done(function(data) {

            html = ``

            data.forEach((e) => {
                html += /*html*/
                        `<tr>
                            <th scope="row">${e.id}</th>
                            <td>${e.name}</td>
                            <td>
                                <button type="button" onclick="eliminarPc(${e.id})" class="btn btn-block btn-danger">    
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>`
            })

            document.getElementById('normativas_palabras_clave').innerHTML = html;

            });
    }

</script>   