{% load static %}

{% comment %} <ul class="list-group">
	{% for theme in themes %}
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-2">
					{% if theme.user.1 %}
						<img width="30" class="mt-2" src="{% static 'img/avatar.png' %}">
					{% else %}
						<img width="30" class="mt-2" src="{% static 'img/avatar1.png' %}">
					{% endif %}
				</div>
				<div class="col-md-10">
					<span class="msg m-0"><a class="text-secondary" href="#">{{theme.theme}}</a></span><br>
					<span class="msg text-secondary">{{theme.user.0}}</span> <span class="msg">{{theme.date}}</span><br>
				</div>
			</div>
		</li>
	{% endfor %}
</ul> {% endcomment %}

<ul class="list-group">
	{% for theme in last_themes %}
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-2">
						<img width="30" class="mt-2" src="{% static 'img/avatar1.png' %}">
				</div>
				<div class="col-md-10">
					<span class="msg m-0"><a class="text-secondary" href="{% url 'foro_comentarios' theme.tema_id %}">{{theme.tema.name_denom}}</a></span><br>
					<span class="msg m-0">{{theme.coments}}</span><br>
					<span class="msg text-secondary">{{theme.subcategories}}</span> <span class="msg">
						{% if theme.user.user_membership %}
						<span>{{theme.user.user_membership.names}} {{ theme.user.user_membership.first_surname.0 }} {{ theme.user.user_membership.second_surname.0 }}</span> 
						{% else %}
						<span>{{theme.user.username}}</span> 
						{% endif %}	
					</span><br>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>