{% load static %}
{% load user_tags %}

<nav class="navbar navbar-expand-lg navbar-white bg-white">
    {% comment %} <button type="button" id="sidebarCollapse" class="btn btn-outline-secondary default-secondary-menu"><i class="fas fa-bars"></i><span></span></button> {% endcomment %}
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/cap-logo.svg' %}" width="200"  class="d-inline-block align-top" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex justify-content-around bd-highlight">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item p-2">
                <a class="nav-link  text-white" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item p-2">
                <a class="nav-link  text-white" aria-current="page" href="{% url 'dash' %}">Estadistica</a>
                </li>
                <li class="nav-item p-2">
                <a class="nav-link  text-white" aria-current="page" href="{% url 'plan_list' %}">Planes y Suscripción</a>
                </li>
                <li class="nav-item p-2">
                <a class="nav-link  text-white" aria-current="page" href="{% url 'preguntas' %}">Preguntas Frecuentes</a>
                </li>
                
            </ul>
        </div>
        

        <ul class="nav navbar-nav ml-auto">
             <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-check"></i> 
                        <span class="text-primary">
                            {% if request.user.is_authenticated %}
                                Tu plan actual es  
                                {{membership}}
                            {% endif %}
                    </span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                        <ul class="nav-list">
                            <li><a href="{% url 'plan_list' %}" class="dropdown-item text-success font-weight-bolder"><i class="fas fa-list"></i>
                                 Para acceder a todos nuestros beneficios actualiza tu plan aquí</a></li>
                            <div class="dropdown-divider"></div>
                            
                        </ul>
                    </div>
                </div>
            </li>  
            
            
            {% if request.user %}
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    
                    <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-user"></i> <span>{{request.user.last_name}}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">   
                        <ul class="nav-list">
                            {% if request.user|has_group:"Premium" %} 
                            <li>
                                <a  href="{% url 'admin:index' %}" class="dropdown-item" target="_blank"><i class="fas fa-address-card"></i> Adm. Base de Datos</a>
                            </li>
                            <li>
                                <a  href="{% url 'dash' %}" class="dropdown-item"><i class="fas fa-address-card"></i>Estadistica</a>
                            </li>
                            <li>
                                <a  href="{% url 'foro' %}" class="dropdown-item"><i class="fas fa-address-card"></i>Foro Interactivo</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                           
                            <li>
                                <a href="{% url 'norma_urb' %}" class="dropdown-item"><i class="fas fa-envelope"></i> Busqueda Normas Legales</a>
                            </li>
                            <li>
                                <a href="{% url 'dateregister_norm' %}" class="dropdown-item"><i class="fas fa-cog"></i> Agregar Norma</a>
                            </li>
                            <li>
                                <a href="{% url 'bus_provedor' %}" class="dropdown-item"><i class="fas fa-cog"></i> Busqueda por proveedor</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li><a href="{% url 'login' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Cerrar</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>