{% load static %}

{% block css %}
<style>
    .bg-cap {
        background-color: #24387C;
    }

    .bg-cap-1 {
        background-color: #c1a13f;
    }
    
</style>
{% endblock %}

{% load user_tags %}

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-cap">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/cap-logo.svg' %}" width="200"  class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'dash' %}">Estadistica</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'preguntas' %}">Preguntas Frecuentes</a>
            </li>
        </ul>
        
        <ul class="navbar-nav d-flex">

            {% if request.user.user_membership %}
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-check"></i> 
                    <span class="">
                            Tu plan actual es  
                            {{membership}}
                        </span> 
                    </a>
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                        <a href="{% url 'checkout_cap' %}" class="dropdown-item text-success font-weight-bolder">
                            <i class="fas fa-list"></i>
                            Para acceder a todos nuestros beneficios actualiza tu plan aquí
                        </a>
                    </div>
                </li>  
            {% endif %}
           
           
           {% if request.user %}
           <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i> <span>@{{request.user.username}}</span> 
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a  href="{% url 'admin:index' %}" class="dropdown-item" target="_blank">
                        <i class="fas fa-address-card"></i> 
                        Adm. Base de Datos
                    </a>
                    <a  href="{% url 'dash' %}" class="dropdown-item">
                        <i class="fas fa-address-card"></i>
                        Estadistica
                    </a>
                    <a  href="{% url 'foro' %}" class="dropdown-item">
                        <i class="fas fa-address-card"></i>
                        Foro Interactivo
                    </a>
                    <a href="{% url 'norma_urb' %}" class="dropdown-item">
                        <i class="fas fa-envelope"></i> 
                        Busqueda Normas Legales
                    </a>
                    {% if request.user|has_group:'ESPECIALISTA' or request.user|has_group:'ADMINISTRADOR' %}
                    <a href="{% url 'index-normativas' %}" class="dropdown-item">
                        <i class="fas fa-plus"></i> 
                        Agregar Norma
                    </a>
                    {% endif %}
                    <a href="{% url 'bus_provedor' %}" class="dropdown-item">
                        <i class="fas fa-cog"></i> 
                        Busqueda por proveedor
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> 
                        Cerrar
                    </a>

                </div>
            </li>

           
           {% endif %}

       </ul>
    </div>

</nav>