{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Regional Lima - Colegio de Arquitectos del Perú</title>
  <link rel="icon" type="image/jpg" href="{% static 'img/cropped-logo-web-192x192.png' %}" sizes="192x192" />

  <!-- Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- CDN -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Vendor -->
  <link href="{% static 'vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/all.css' %}" rel="stylesheet" />

  {% block vendor_css %}
  {% endblock %}

  {% block css %}
  {% endblock %}
</head>

<body>
  <div class="wrapper">
    {% include 'base/partials/_header.html' %}
    {% include 'base/partials/_top_nav.html' %}
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
      {% include 'base/partials/_footer.html' %}
    </div>
  </div>

  <!-- Vendor -->
  <script src="{% static 'vendor/jquery3/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap4/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>

  <!-- CDN -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"
    integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- JS -->
  <script>
    $('.select-tags').select2({
      tags: true
    });
    $('.select-multiple').select2({
    });

    const Toast = Swal.mixin({
      toast: true,
      position: 'bottom-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })
  </script>

  <script>
    document.getElementById('search_topnav').addEventListener('keypress', (e) => {
      if (e.keyCode == 13) {
        window.location.href = `http://127.0.0.1:8000/buscador?norma=OPINIONES%20VINCULANTES%20Y%20CASUISTICA&gtn=3&t=1&search=${document.getElementById('search_topnav').value}`;
      }
    })
  </script>

  {% block vendor_js %}
  {% endblock %}

  {% block js %}
  {% endblock %}

</body>

</html>