{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colegio de Arquitectos del Perú</title>
  <link rel="shortcut icon" type="image/jpg" href="{% static 'img/logo.png' %}"/>
  <link href="{% static 'vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'plan_list/css/style.css' %}" rel="stylesheet">
  
</head>
<body>
  <div class="logo_container" style="background: #24387C;">
    <span class="logo_helper"></span>
    <a href="{% url 'login' %}">
      <img src="{% static 'img/cap-logo.svg' %}" alt="Regional Lima " id="logo" data-height-percentage="47" data-actual-width="300" data-actual-height="85">
    </a>
  </div>
    

<!-- ================================================================================================ -->
<div class="container-fluid mt-3"></div>
<!-- ======= Pricing Section ======= -->
<div class="container">
  <div class="row d-flex justify-content-center mb-2 ">
    <div class="col-lg-12 alert alert-info">
        <h2 class="text-center ">Suscripciones - Pagos en Linea</h2>
    </div>
 </div>
</div>


<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="box d-flex flex-column">
          <h3>Plan Agremiado</h3>
          <h4><sup>S/</sup> 
            
            {% if pl_agremiado %}
            {{pl_agremiado.price_month|floatformat}}
            {% else %}
              0
            {% endif %}
              
            <span> / mensual</span></h4>
          <ul>
            <li><b>Beneficios:</b></li>
            <i>
              
              {% if pl_agremiado %}
                  {% for benefit in pl_agremiado.benefits.all %}
                    <li class="benefits">{{benefit}}</li>
                  {% endfor %}
              {% else %}
                <li> Acceso total a las Normas </li>
                <li> Acceso total al Foro</li>
              {% endif %}
              
            </i>


                <br>
              <li><b>Condiciones:</b></li>
            <i>
              {% if pl_agremiado.conditions %}
                {% for condition in pl_agremiado.conditions.all  %}
                      <li class="benefits">{{condition}}</li>
                {% endfor %}
              {% else %}
              <li>Ser colegiado del CAP.</li>
                <li>Estar habilitado.</li>
                <li>No tener multas. </li>
              
              {% endif %}
          </i>
            
          </ul>
          <div class="btn-wrap mt-auto">
            <a href="{% url 'sign-up-user' %}" class="btn-free">Registro Gratis</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box featured d-flex flex-column">
          <h3>Plan Premium Agremiado </h3>
          <h4><sup>S/</sup>
            {% if pl_premium_agremiado %}
              {{pl_premium_agremiado.price_month|floatformat}}
            {% else %}
              10
            {% endif %}
            
            
            <span> / mensual</span></h4>
          <h4><sup>S/</sup>
            {% if pl_premium_agremiado %}
            {{pl_premium_agremiado.price_year|floatformat}}
          {% else %}
            99
          {% endif %}
            <span> / anual (20% descuento)</span></h4>
          <ul>
            <li><b>Beneficios:</b></li>
            <i>
              {% if pl_premium_agremiado %}
                  {% for benefit in pl_premium_agremiado.benefits.all %}
                    <li class="benefits">{{benefit}}</li>
                  {% endfor %}
              {% else %}
              <li> Acceso total a las Normas </li>
              <li> Acceso total al Foro</li>
              <li> Acceso total a videos de cursos </li>
              {% endif %}
              
            </i>

                <br>
              <li><b>Condiciones:</b></li>
            
            <i>
              {% if pl_premium_agremiado.conditions %}
                {% for condition in pl_premium_agremiado.conditions.all  %}
                      <li class="benefits">{{condition}}</li>
                {% endfor %}
              {% else %}
              <li>Ser colegiado del CAP.</li>
                <li>Estar habilitado.</li>
                <li>No tener multas. </li>
              
              {% endif %}
               
            </i>
          </ul>
          <div class="btn-wrap mt-auto">
            <a href="{% url 'checkout' %}" class="btn-buy">Suscribirme</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box d-flex flex-column">
          <span class="advanced">Advanced</span>
          <h3>Plan Profesional </h3>
          <h4><sup>S/</sup>
            {% if pl_profesional %}
              {{pl_profesional.price_month|floatformat}}
            {% else %}
              18
            {% endif %}
            
            
            <span> / mensual</span></h4>
          <h4><sup>S/</sup>
            {% if pl_profesional %}
            {{pl_profesional.price_year|floatformat}}
          {% else %}
            179
          {% endif %}
            <span> / anual (20% descuento)</span></h4>
          <ul>
            <li><b>Beneficios:</b></li>
            <i>
              {% if pl_profesional %}
                  {% for benefit in pl_profesional.benefits.all %}
                    <li class="benefits">{{benefit}}</li>
                  {% endfor %}
              {% else %}
              <li> Acceso total a las Normas </li>
              <li> Acceso total al Foro</li>
              <li> Acceso total a videos de cursos </li>
              {% endif %}
              
            </i>

                <br>
              <li><b>Condiciones:</b></li>
            
            <i>
              {% if pl_profesional.conditions %}
                {% for condition in pl_profesional.conditions.all  %}
                      <li class="benefits">{{condition}}</li>
                {% endfor %}
              {% else %}
              <li>Cualquier Profesional o Persona que desee acceder</li>
              
              {% endif %}
               
            </i>
          </ul>
          <div class="btn-wrap mt-auto">
            <a href="{% url 'checkout' %}" class="btn-buy">Suscribirme</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->

<!-- ======= Pricing Section ======= -->
<div class="container">
  <div class="row d-flex justify-content-center mt-5 mb-2 ">
    <div class="col-lg-12 alert alert-info">
        <h2 class="text-center">Suscripciones - Pagos Presenciales</h2>
    </div>
 </div>
</div>

<section id="pricing" class="pricing">
  <div class="container mb-2" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="box d-flex flex-column">
          <h3>Plan Agremiado</h3>
          <h4><sup>S/</sup> 
            
            {% if pp_agremiado %}
            {{pp_agremiado.price_month|floatformat}}
            {% else %}
              0
            {% endif %}
              
            <span> / mensual</span></h4>
          <ul>
            <i>
              
              {% if pp_agremiado %}
                  {% for benefit in pp_agremiado.benefits.all %}
                    <li class="benefits">{{benefit}}</li>
                  {% endfor %}
              {% else %}
                <li> Acceso total a las Normas </li>
                <li> Acceso total al Foro</li>
              {% endif %}
              
            </i>


                <br>
              <li><b>Condiciones:</b></li>
            <i>
              {% if pp_agremiado.conditions %}
                {% for condition in pp_agremiado.conditions.all  %}
                      <li class="benefits">{{condition}}</li>
                {% endfor %}
              {% else %}
              <li>Ser colegiado del CAP.</li>
                <li>Estar habilitado.</li>
                <li>No tener multas. </li>
              
              {% endif %}
          </i>
          </ul>
          <div class="btn-wrap mt-auto">
            <a href="{% url 'sign-up-user' %}" class="btn-free">Registro Gratis</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box featured d-flex flex-column">
          <h3>Plan Premium Agremiado </h3>
          <h4><sup>S/</sup>
            {% if pp_premium_agremiado %}
              {{pp_premium_agremiado.price_month|floatformat}}
            {% else %}
              22
            {% endif %}
            
            
            <span> / mensual</span></h4>
          <h4><sup>S/</sup>
            {% if pp_premium_agremiado %}
            {{pp_premium_agremiado.price_year|floatformat}}
          {% else %}
            209
          {% endif %}
            <span> / anual (20% descuento)</span></h4>
          <ul>
            <li><b>Beneficios:</b></li>
            <i>
              {% if pp_premium_agremiado %}
                  {% for benefit in pp_premium_agremiado.benefits.all %}
                    <li class="benefits">{{benefit}}</li>
                  {% endfor %}
              {% else %}
              <li> Acceso total a las Normas </li>
              <li> Acceso total al Foro</li>
              <li> Acceso total a videos de cursos </li>
              {% endif %}
              
            </i>

                <br>
              <li><b>Condiciones:</b></li>
            
            <i>
              {% if pp_premium_agremiado.conditions %}
                {% for condition in pp_premium_agremiado.conditions.all  %}
                      <li class="benefits">{{condition}}</li>
                {% endfor %}
              {% else %}
              <li>Ser colegiado del CAP.</li>
                <li>Estar habilitado.</li>
                <li>No tener multas. </li>
              
              {% endif %}
               
            </i>
          </ul>
          <div class="btn-wrap mt-auto">
            <a href="{% url 'checkout' %}" class="btn-buy">Suscribirme</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box d-flex flex-column">
          <span class="advanced">Advanced</span>
          <h3>Plan Profesional </h3>
          <h4><sup>S/</sup>
            {% if pp_profesional %}
              {{pp_profesional.price_month|floatformat}}
            {% else %}
              30
            {% endif %}
            
            
            <span> / mensual</span></h4>
          <h4><sup>S/</sup>
            {% if pp_profesional %}
            {{pp_profesional.price_year|floatformat}}
          {% else %}
            289
          {% endif %}
            <span> / anual (20% descuento)</span></h4>
          <ul>
            <li><b>Beneficios:</b></li>
            <i>
              {% if pp_profesional %}
                  {% for benefit in pp_profesional.benefits.all %}
                    <li class="benefits">{{benefit}}</li>
                  {% endfor %}
              {% else %}
              <li> Acceso total a las Normas </li>
              <li> Acceso total al Foro</li>
              <li> Acceso total a videos de cursos </li>
              {% endif %}
              
            </i>

                <br>
              <li><b>Condiciones:</b></li>
            
            <i>
              {% if pp_profesional.conditions %}
                {% for condition in pp_profesional.conditions.all  %}
                      <li class="benefits">{{condition}}</li>
                {% endfor %}
              {% else %}
              <li>Cualquier Profesional o Persona que desee acceder</li>
              
              {% endif %}
               
            </i>
          </ul>
          <div class="btn-wrap mt-auto">
            <a href="{% url 'checkout' %}" class="btn-buy">Suscribirme</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->


  <script src=" {% static 'vendor4/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

</body>
</html>
  



  


