{% extends "admin/base.html" %}
{% load static %}
{% block title %}CAP Database Administration{% endblock %}
{% block extrahead %}
<link rel="shortcut icon" type="image/jpg" href="{% static 'img/cropped-logo-web-192x192.png' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<a href="{% url 'home' %}">
    <img src="{% static 'img/logo_cap.svg' %}" alt="bootraper logo" width="300" class="app-logo">
</a>
{% endblock %}

{% block pretitle %}{% endblock %}
{% block content_title %}<h1>Colegio de Arquitectos del Perú</h1>{% endblock %}

{% block footer %}
<div id="footer">
    developed by DT-Data
</div>
{% endblock %}