{% load static %}

<!-- 
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   -->
  


    <div class="text-center">
        <h3 class="mb-4 text-primary">ACCESO A SUSCRIPTORES</h3>
    </div>

    <form method="POST" id="login-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>
        {% include 'base/partials/_form_errors.html' %}
        <div class="">
            <button type="submit" class="btn btn-primary  btn-block" style="font-size: large;"  >Iniciar Sesión</button>
        </div>
        <hr>
    </form>

    <div class="text-center text-primary">
        <a class="text-primary" href="{% url 'password_reset' %}">¿Olvidate tu Contraseña?</a>
    </div>
    <div class="text-center text-primary">
        <a class="text-primary" href="{% url 'sign-up-user' %}">¿No tienes cuenta? ¡Regístrate!</a>
    </div>


                     