{% load static %}
<div class="row d-flex justify-content-center">
    <h4 class="text-primary">Enlaces de Interés</h4>
</div>
<div class="row ">
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="" style="width: 150px; height: 50px;">
            <a href="http://spij.minjus.gob.pe/Leg_Basica/spij_leg_basica.asp" target="_blank">
                <img src="{% static 'images/enlaces/spij.png' %}" alt="">
            </a>

        </div>
        
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="" style="width: 50px; height: 30px;">
            <a href="https://www.nfpa.org/codes-and-standards/all-codes-and-standards/list-of-codes-and-standards/detail?code=101" target="_blank">
                <img src="{% static 'images/enlaces/nfpa.png' %}" style="height: 50px;" alt="">
                
            </a>
        </div>
        
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="" style="width: 150px; height: 50px;">
            <a href="https://www.sunarp.gob.pe/seccion/servicios/detalles/0/a3.html" target="_blank">
                <img src="{% static 'images/enlaces/sunarp.png' %}" alt="">
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="" style="width: 150px; height: 50px;">
            <a href="https://diariooficial.elperuano.pe/Normas" target="_blank">
                
                <img src="{% static 'images/enlaces/elperuano.png' %}" alt="">
            </a>
        </div>
        
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="" style="width: 150px; height: 50px;">
            <a href="http://www.transparencia.munlima.gob.pe/gobierno-abierto-municipal/transparencia/mml/datos-generales/disposiciones-emitidas-1/ordenanzas-municipales" target="_blank">
                
                <img src="{% static 'images/enlaces/mnl.png' %}" alt="">
                
            </a>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="" style="width: 150px; height: 50px;">
            <a href="http://imp.gob.pe/normativa-urbanistica/" target="_blank">
                
                <img src="{% static 'images/enlaces/imp.png' %}" alt="">

            </a>
        </div>
    </div>
</div>

