{% load static %}

<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Colegio de Arquitectos del Perú</title>
    {% comment %}
        <link href="{% static 'vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet"> 
    {% endcomment %}
    <link href="{% static 'vendor/bootstrap4/css/bootstrap.css' %}" rel="stylesheet"> 
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/logo.png' %}"/>
    <link href="{% static 'vendor/chartsjs/Chart.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/flagiconcss3/css/flag-icon.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/master.css' %}" rel="stylesheet">

    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
</head>

<body>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-10">
                <div class="row  ">
                    <div class="col-lg-6 col-md-6  col-sm-12 m-0 p-0 d-flex justify-content-center align-items-start">
                        <div class="mt-5">
                            <img src="{% static 'images/login/logo.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="container mt-5">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card shadow-lg p-4 mb-4 ">
                                        <div class="card-body">
                                            {% include 'login/login-form.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                            
                            {% comment %}
                                {% include 'login/login-form.html' %}
                            {% endcomment %}
                            
                    </div>
                </div>
                <div class="">
                    {% block content %}
                        {% include 'login/dashboard-login.html' %}
                    {% endblock %}
                </div>
                <hr>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 mt-3 d-flex justify-content-center ">
                <div style="max-width: 180px;">
                    <img src="{% static 'banners/baner-login.png' %}" alt="">

                </div>
            </div>

        </div>
        
        <div class="container mb-4">
           {% include 'login/login-enlaces.html' %}
        </div>

       
    </div>
    <!-- ================ -->
    

	
    

    <script src="{% static 'vendor/fontawesome5/js/solid.min.js' %}"></script>
	<script src="{% static 'vendor/fontawesome5/js/fontawesome.min.js' %}"></script>

    <script src="{% static 'vendor/jquery3/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>

	<script src="{% static 'vendor/chartsjs/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/airdatepicker/dist/js/datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/airdatepicker/dist/js/i18n/datepicker.es.js' %}"></script>
    <script src="{% static 'vendor/mdtimepicker/mdtimepicker.min.js' %}"></script>
    <script src="{% static 'vendor/notyfy/notify.min.js' %}"></script>
    
    {% block js %}
		<script src="{% static 'js/dashboard-charts.js' %}"></script>
        <script src="{% static 'js/9631-js-jquery.js' %}"></script>
        <script src="{% static 'js/5545-js-app.js' %}"></script>
    {% endblock %}
    
    {% block script %}
	<script src="{% static 'js/script.js' %}"></script>
    {% endblock %}

    

</body>
</html>