{% extends 'base_nfr.html' %}
{% load static %}
{% block content %}

<div class="card border-secondary mb-3" > 
  <img class="card-img-top" src="{% static 'img/Forofondo.jpg' %}" alt="Card image cap" style=" height:180px;">
  <div class="card-body" style='background:white;'>
  
      <div class="row">
        <div class="col-md-10">
          <h5 class="card-title">foro: {{foro.nombre}}</h5>               
          <p class="card-text">Descripción: {{foro.descripcion}}</p>
        </div>
        {% if request.user.user_membership.user_id == request.user.id %}

          {% if is_suscribed %}
          <div class="col-md-2" id="accion_suscribe">
            <button class="btn btn-danger" onclick="desuscribirse()">
              <i class="fa fa-bell-slash" aria-hidden="true"></i>
              Desuscribirse
            </button>
          </div>
          {% else %}
          <div class="col-md-2" id="accion_suscribe">
            <button class="btn btn-success" onclick="suscribirse()">
              <i class="fa fa-bell" aria-hidden="true"></i>
              Suscribirse
            </button>
          </div>
          {% endif %}

        {% endif %}
      </div>
  </div>
            
</div>
        
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <div class="comments">
        <div class="comments-details">
          <span class="total-comments comments-sort">{{ncomentarios}} Comentarios</span>
        </div>

         <div class="comment-box add-comment">
          <span class="commenter-pic">
            <img src="https://img.icons8.com/office/80/000000/user.png" class="img-fluid">
          </span>
                <form method="POST" >
                  {% csrf_token %}
                  <span class="commenter-name">
                    <input autocomplete="off" id="mensaje" maxlength="150"  type="text" name="comentario" placeholder="Agregue aqui un nuevo comentario" name="Add Comment">
                    <div id="contador">0/150</div>
                    <div class="form-group">    
                      <button  type="submit" class="btn btn-default">Comentar</button>
                    </div>
                  </span>
                </form>
          </div>

              {% for muni in comentarios_list %}
              <div class="d-flex align-items-center w-100 ">
                <div class="comment-box mt-4 
                {% if perms.foro.delete_comentario_foro %}
                  border border-warning shadow p-3 mb-5 bg-white rounded
                {% endif %}">
                  <span class="commenter-pic">
                    <img src="https://img.icons8.com/office/80/000000/user.png" class="img-fluid">
                  </span>
                  <span class="commenter-name" >
                    <a style='color:black;' href="#">
                      {% if muni.user.user_membership %}
                      <span>{{muni.user.user_membership.names}} {{ muni.user.user_membership.first_surname.0 }} {{ muni.user.user_membership.second_surname.0 }}</span> 
                      {% else %}
                      <span>{{muni.user.username}}</span> 
                      {% endif %}	
                    
                    </a>
                  </span>
                  <p class="comment-txt more">
                    {{muni.comentario}}
                    <small class="font-italic text-muted float-right">{{ muni.created }}</small>
                  </p>   
                                
                </div>
              
                <form method="POST" action="{% url 'borrar-comentario' foro.id muni.id %}">
                  {% csrf_token %}
                  
                  {% if perms.foro.delete_comentario_foro %}
                    <button type="submit" class="btn btn-fat bg-danger float-right ml-2">
                      <i class="fas fa-trash text-white"></i>
                    </button>
                  {% endif %}
                  
                </form>
              
              </div>
              {% endfor %}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block css %}
<style>
  .comments-details button.btn.dropdown-toggle,
  .comments-details .total-comments {
      font-size: 18px;
      font-weight: 500;
      color: #5e5e5e;
  }
  .comments-details {
      padding: 15px 15px;
  }
  .comments .comments .dropdown,
  .comments .dropup {
      position: relative;
  }
  .comments button {
      background-color: transparent;
      border: none;
  }
  .comments .comment-box {
      width: 100%;
      float: left;
      height: 100px;
      background-color: #FAFAFA;
      padding: 10px 10px 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: 1px solid #ddd;
  }
  .comments .add-comment {
      background-color: transparent;
      border: none;
      position: relative;
      margin-bottom: 10px;
      height: 100px;
  }
  .comments .commenter-pic {
      width: 50px;
      height: 50px;
      display: inline-block;
      border-radius: 100%;
      border: 2px solid #fff;
      overflow: hidden;
      background-color: #fff;
  }
  .comments .add-comment .commenter-name {
      width: 100%;
      padding-left: 75px;
      position: absolute;
      top: 20px;
      left: 0px;
  }
  .comments .add-comment input {
      border-top: 0px;
      border-bottom: 1px solid #ccc;
      border-left: 0px;
      border-right: 0px;
      outline: 0px;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      padding: 0;
      font-weight: forol;
  }
  .comments .add-comment input:focus {
      border-color: #03a9f4;
      border-width: 2px;
  }
  .comments .add-comment button[type=submit] {
      background-color: #03a9f4;
      color: #fff;
      margin-right: 0px;
  }
  .comments .add-comment button {
      background-color: #f5f5f5;
      margin: 10px 5px;
      font-size: 14px;
      text-transform: uppercase;
      float: right;
  }
  .comments .commenter-name .comment-time {
      font-weight: forol;
      margin-left: 8px;
      font-size: 15px;
  }
  .comments p.comment-txt {
      font-size: 15px;
      border-bottom: 1px solid #ddd;
      padding: 0px 0px 15px;
  }
  .comments .commenter-name {
      display: inline-block;
      position: relative;
      top: -20px;
      left: 10px;
      font-size: 16px;
      font-weight: bold;
  }
  .comments .comment-meta {
      font-size: 14px;
      color: #333;
      padding: 2px 5px 0px;
      line-height: 20px;
      float: right;
  }
  .comments .reply-box {
      display: none;
  }
  .comments .replied {
      background-color: #fff;
      width: 95%;
      float: right;
      margin-top: 15px;
  }
  
  /*======Responsive CSS=======*/
  @media (max-width: 767px){
  .comments .commenter-name {
      font-size: 13px;
      top: -5px;
  }
  .comments .commenter-pic {
      width: 40px;
      height: 40px;
  }
  .comments .commenter-name a{
    display: block;
  }
  .comments .commenter-name .comment-time{
    display: block;
    margin-left: 0px;
  }
  }
  </style>
{% endblock %}



{% block js %}
<script>
  var btn_suscribirse = /*html*/`<button class="btn btn-success" onclick="suscribirse()">
            <i class="fa fa-bell" aria-hidden="true"></i>
            Suscribirse
          </button>`;

  var btn_desuscribirse = /*html*/`<button class="btn btn-danger" onclick="desuscribirse()">
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
            Desuscribirse
          </button>`;
      
  var div_sus = document.getElementById('accion_suscribe');

  function suscribirse() {
    sendAjax(true, btn_desuscribirse)
  }

  function desuscribirse() {
    sendAjax(false, btn_suscribirse)
  }

  function sendAjax(state, html) {
    $.ajax({
      method: 'POST',
      url: "{% url 'foro-suscripcion' foro.id %}",
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        state : state,
      },
      success: function(data){
        console.log(data)
        div_sus.innerHTML = html
      },
      error: function(xhr, status, error){
        console.log(error)
      },
    })
  }

const mensaje = document.getElementById('mensaje');
const contador = document.getElementById('contador');

mensaje.addEventListener('input', function(e) {
    const target = e.target;
    const longitudMax = target.getAttribute('maxlength');
    const longitudAct = target.value.length;
    contador.innerHTML = `${longitudAct}/${longitudMax}`;
});
</script>
{% endblock %}

