{% load static %}

<div class="d-flex align-items-center">
	<div class="">
		<form method="POST" id="dni-form">
			{% csrf_token %}
			<label class="text-muted lead">Valida tu Documento de Identidad:</label>
			<div class="row">
				<div class="col-md-8">
					<input type="number" name="dni" placeholder="Ingresa número" id="dni-input" min="8" required class="form-control">
				</div>
				<div class="col-md-4">
					<input style="width: 130px;" type="submit" id="input-value" value="Validar" class="btn btn-primary" >
					<span class="text-danger" id="error_id_input_dni"></span>
				</div>
			</div>
			
		</form>	
	</div>
		
	<div class="mt-4">
		<button style="display: none;" id="n_reload" onClick="window.location.reload();" class="ml-5 btn btn-success">Nueva Busqueda</button>		
	</div>			
</div>


