
<form method="POST" enctype="multipart/form-data" autocomplete="off" id="form-register">
	{% csrf_token %}
	
	<div class="row mb-2">
		<div class="col-md-4">
			<label class="text-muted lead" id="label_names">Nombres:</label>
			{{form.names}}
		</div>
		<div class="col-md-4">
			<label class="text-muted lead" id="label_first_surname">Primer Apellido:</label>
			{{form.first_surname}}
		</div>		
		<div class="col-md-4">
			<label class="text-muted lead" id="label_second_surname">Segundo Apellido:</label>
			{{form.second_surname}}
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-md-3 {% if form.identity.errors %}invalid{% endif %}">
			<label class="text-muted lead"  id="label_identity" >DNI:</label>
			{{form.identity}}
			{% include 'base/partials/_field_error.html' with field=form.identity %}
		</div>
		{% if field.errors %}
		<span class="text-danger field-error text-md">
			{{form.identity.errors}}
		</span>
		{% endif %}

		{% comment %}

			<div class="col-md-3 {% if form.profession.errors %}invalid{% endif %}">
				<label class="text-muted lead" id="label_profession">Profesión:</label>
				{{form.profession}}
				{% include 'base/partials/_field_error.html' with field=form.profession %}
			</div>
		
			<div class="col-md-3 {% if form.tuition.errors %}invalid{% endif %}">
				<label id="tuition_title" class="text-muted lead" id="label_tuition">CAP No.:</label>
				{{form.tuition}}
				{% include 'base/partials/_field_error.html' with field=form.tuition %}
			</div>
				{% if field.errors %}
				<span class="text-danger field-error text-md">
					{{form.email.errors}}
				</span>
				{% endif %}
			<div class="col-md-3 {% if form.secret_code.errors %}invalid{% endif %}">
				<label class="text-muted lead" id="label_secret_code">Código Secreto:</label>
				{{form.secret_code}}
				{% include 'base/partials/_field_error.html' with field=form.secret_code %}
				<!-- <span class="text-sm text-cap">Solo para Arquitectos</span> -->
			</div>
		{% endcomment %}
			
		
	</div>
	<div class="row mb-2">
		
		{% comment %}
		<div class="col-md-4 {% if form.person_type.errors %}invalid{% endif %}">
			<label class="text-muted lead" id="label_person_type">Tipo de Persona</label>
			{{form.person_type}}
			{% include 'base/partials/_field_error.html' with field=form.mobile %}
		</div>
			
		{% endcomment %}
			
		<div class="col-md-4  {% if form.mobile.errors %}invalid{% endif %}">
			<label class="text-muted lead"  id="label_mobile">Teléfono Celular:</label>
			{{form.mobile}}
			{% include 'base/partials/_field_error.html' with field=form.mobile %}
		</div>
		<div class="col-md-8 mt-3 {% if form.email.errors %}invalid{% endif %}">
			<label class="text-muted lead"  id="label_email">Correo Electrónico:</label>
			{{form.email}}
			{% include 'base/partials/_field_error.html' with field=form.email %}
		</div>
		{% if field.errors %}
		<span class="text-danger field-error text-md">
			{{form.email.errors}}
		</span>
		{% endif %}
	</div>	
	<div class="row mb-2">
		<div class="col-md-4 {% if form.phone.errors %}invalid{% endif %}">
			<label class="text-muted lead" id="label_phone">Teléfono Fijo:</label>
			{{form.phone}}
			{% include 'base/partials/_field_error.html' with field=form.phone %}
		</div>
		<div class="col-md-8 {% if form.address.errors %}invalid{% endif %}">
			<label class="text-muted lead" id="label_address">Dirección:</label>
			{{form.address}}
			{% include 'base/partials/_field_error.html' with field=form.address %}
		</div>
	</div>	
    <div class="row mb-2">
		<div class="col-md-4 ">
			<label class="text-muted lead" id="label_password">Contraseña:</label>
			{{form.password}}
		</div>
		<span class="text-danger field-error text-md">
			{{form.password.errors}}
		</span>
		
		
	</div>
    
	<div class="d-flex justify-content-end">
		<a href="{% url 'login' %}" class="btn btn-danger me-3 mt-3"> 
			Cancelar
		</a>
		<button class="btn btn-primary mt-3"> 
			Registrarme
		</button>
	</div>
</form>	

