
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Colegio de Arquitectos del Perú</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/logo.png' %}"/>
    <link href="{% static 'vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href=" {% static 'register/css/styles.css' %} ">
<!-- plans to external users -->
    <link href="{% static 'vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'plan_list/css/style.css' %}" rel="stylesheet">
    
</head>

<body class="bg-light">


        <div class="logo_container" style="background: #24387C;">
					<span class="logo_helper"></span>
					<a href="{% url 'login' %}">
						<img src="{% static 'img/cap-logo.svg' %}" alt="Regional Lima " id="logo" data-height-percentage="47" data-actual-width="300" data-actual-height="85">
					</a>
				</div>

      <br>
    <div class="container ">
      <div class="row">
      
        <div class="col-md-10 order-md-1 offset-1 " >
          {% include "register/form-dni.html" %}
          <div id="spinner-dni"></div>
          <div id="test"></div>

          <!-- Form CAP -->
          <div id="alert-succes"></div>
          <div id="block-cap" style="display: none;" class="card bg-light  mb-5" >
            <div class="card-body">
              <div class="d-flex justify-content-center ">
                <h4 class="mb-3 " id="title_cap">Datos de Registro usuario CAP</h4>
              </div>
              <hr>
              {% include 'register/form_cap_register.html' %}
            </div>
          </div>

          <!-- Form External -->
          <div id="block-external" class="bg-light form-hide mt-1 mb-5">
            <div class="">
              <div id="plan-external-user">
                {% include 'plan/plan_external_user.html' %}
              </div>
                
            </div>
          </div>
         
          </div>
        </div>
      </div>

      


      <script src="{% static 'vendor/jquery3/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap4/js/bootstrap.min.js' %}"></script>
<script src="{% static 'register/js/results.js' %}"></script>
<script src=" {% static 'vendor4/bootstrap/js/bootstrap.bundle.min.js' %} "></script>



</body>

</html>




