
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Colegio de Arquitectos del Perú</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/logo.png' %}"/>
   <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
    <link rel="stylesheet" href=" {% static 'register/css/styles.css' %} ">
    
</head>

<body class="bg-light">


        <div class="logo_container" style="background: #24387C;">
					<span class="logo_helper"></span>
					<a href="{% url 'login' %}">
						<img src="{% static 'img/cap-logo.svg' %}" alt="Regional Lima " id="logo" data-height-percentage="47" data-actual-width="300" data-actual-height="85">
					</a>
				</div>

      <br>
    <div class="container ">
      <div class="row">
      
        <div class="col-md-10 order-md-1 offset-1 " >
          {% include "register/form-dni.html" %}
          <div id="test"></div>

          <!-- Form CAP -->
          <div id="alert-succes"></div>
          <div id="block-cap" class="card bg-light form-hide  mb-5" >
            <div class="card-body">
              <div class="d-flex justify-content-center ">
                <h4 class="mb-3 " id="title_cap">Datos de Registro usuario CAP</h4>
              </div>
              <hr>
              {% include 'register/form_cap_register.html' %}
            </div>
          </div>

          <!-- Form External -->
          <div id="block-external" class="card bg-light form-hide mb-5">
            <div class="card-body">
              <div class="d-flex justify-content-center ">
                <h4 class="mb-3 " id="title_external">Datos de Registro</h4>
              </div>
              <hr>
              {% include 'register/form_external_register.html' %}
            </div>
          </div>
         
          </div>
        </div>
      </div>

      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-primary form-hide" data-bs-toggle="modal" data-bs-target="#myModal">
        Open modal
      </button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>



      <script src="{% static 'bootstrap5/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'register/js/results.js' %}"></script>


</body>

</html>




