
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Colegio de Arquitectos del Perú</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/logo.png' %}"/>
   <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}">
    <link rel="stylesheet" href=" {% static 'register/css/styles.css' %} ">
    
</head>

<body class="bg-light">


        <div class="logo_container p-2" style="background: #24387C;">
					<span class="logo_helper"></span>
					<a href="{% url 'login' %}">
						<img src="{% static 'img/cap-logo.svg' %}" alt="Regional Lima " id="logo" data-height-percentage="47" data-actual-width="300" data-actual-height="85">
					</a>
				</div>

      <br>
    <div class="container ">
      <div class="row">
      
        <div class="col-md-10 order-md-1 offset-1 " >
          
          <div id="form-signup" class="card bg-light  mb-5 ">
            <div class="card-body">
              <div class="d-flex justify-content-center ">
                <h4 class="mb-3 " id="register_title">Datos de Registro para usuario agremiado</h4>
              </div>
              <hr>
              
            </div>
          </div>
         
          </div>
        </div>
      </div>


      <script src="{% static 'bootstrap5/js/bootstrap.bundle.js' %}"></script>

</body>

</html>




