{% extends 'base/base.html' %}
{% load static %}

{% block content %}
{% include 'base/partials/_section_slider.html' %}

<div class="seccion-normas-reglamentos" style="background-color: #f2f2f2;">
    <div class="container container-grid">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-12 col-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 padre">
                        <div class="box-3 hijo-1">
                            <div class="d-flex align-items-center text-1" style="height: 45%;">
                                <p class="m-0">Plataforma de Normas y <b>Reglamento Comentado</b></p>
                            </div>
                            <div class="d-flex align-items-center text-2 border-top-2 border-bottom-2" style="height: 35%;">
                                <p class="m-0"><b>Encuentre aquí el compendio normativo actualizado y concordado</b></p>
                            </div>
                            <div class="d-flex align-items-end text-3" style="height: 20%;">
                                <p class="m-0">Por favor seleccione una categoría:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
                                <div class="box" style="box-shadow: none !important;">
                                    <div class="box-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for tn in topicos_norma %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                        <a href="{% url 'grupo-normativa' tn.id %}">
                            <div class="box shadow-lg">
                                <div class="box-content">
                                    <div class="h-70 d-flex justify-content-center align-items-center">
                                        {% if tn.icono %}
                                        <img src="{{ tn.icono.url }}" alt="" class="h-75">
                                        {% else %}
                                        <img src="{% static 'img/icono-circulo.png' %}" alt="" class="h-75">
                                        {% endif %}

                                    </div>
                                    <div class="h-30 d-flex justify-content-center align-items-center">
                                        <h5 class="text-center  h-100">{{ tn.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                        <a href="{% url 'foro' %}">
                            <div class="box shadow-lg">
                                <div class="box-content">
                                    <div class="h-70 d-flex justify-content-center align-items-center">
                                        <img src="{% static 'img/icono-circulo.png' %}" alt="" class="h-75">
                                    </div>
                                    <div class="h-30 d-flex justify-content-center align-items-center">
                                        <h5 class="text-center  h-100">FOROS DE DISCUSIÓN</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% if reglamento_comentado %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                        <a href="{% url 'buscador' %}?norma={{reglamento_comentado.name}}&gtn={{reglamento_comentado.id}}&t={{reglamento_comentado.topico_id}}">
                            <div class="box shadow-lg">
                                <div class="box-content">
                                    <div class="h-70 d-flex justify-content-center align-items-center">
                                        {% if reglamento_comentado.icono %}
                                        <img src="{{ reglamento_comentado.icono.url }}" alt="" class="h-75">
                                        {% else %}
                                        <img src="{% static 'img/icono-circulo.png' %}" alt="" class="h-75">
                                        {% endif %}
                                    </div>
                                    <div class="h-30 d-flex justify-content-center align-items-center">
                                        <h5 class="text-center  h-100">{{ reglamento_comentado.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                        <a href="{% url 'cursos' %}">
                            <div class="box shadow-lg">
                                <div class="box-content">
                                    <div class="h-70 d-flex justify-content-center align-items-center">
                                        <img src="{% static 'img/icono-circulo.png' %}" alt="" class="h-75">
                                    </div>
                                    <div class="h-30 d-flex justify-content-center align-items-center">
                                        <h5 class="text-center h-100">CURSOS EN LÍNEA</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                        <div class="box shadow-lg" style="background-color: #418cc8;">
                            <div class="box-content">
                                <div class="h-100 d-flex justify-content-center align-items-center">
                                    <h1 class="text-center text-white">Espacio para anunciante</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                        <div class="box shadow-lg" style="background-color: #418cc8;">
                            <div class="box-content">
                                <div class="h-100 d-flex justify-content-center align-items-center">
                                    <h1 class="text-center text-white">Espacio para anunciante</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 mb-4">
                        <div class="box shadow-lg" style="background-color: #2e3192;">
                            <div class="box-content">
                                <div class="h-100 d-flex justify-content-center align-items-center">
                                    <h1 class="text-center text-white">Colocar link para boletin legal</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="element-grid element-grid--primera"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div>
        <div class="element-grid"></div> -->
    </div>
</div>

{% include 'base/partials/_section_courses.html' %}
{% include 'base/partials/_section_news.html' %}
{% include 'base/partials/_section_affiliates.html' %}
{% include 'base/partials/_section_links.html' %}

{% endblock %}