{% extends 'base_nfr.html' %}
{% load static %}
{% block content %}
{% comment %} https://www.solodev.com/blog/web-design/how-to-use-bootstrap-accordions-to-organize-faq-pages.stml {% endcomment %}

<div class="container">
  <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    
    <h2>Preguntas Frecuentes  
    </h2>
    
    {% if perms.normas.add_policies_usage %}
      <a href="{% url 'admin:normas_policies_usage_changelist' %}" class="btn btn-square btn-primary mb-3" ><i class="fas fa-plus"></i> Agregar pregunta</a> 
    {% endif %}
    
    <div class="accordion" id="accordionExample">
      {% for p in preguntas %}
      <div class="card">
        <div class="card-header bg-info" id="headingOne">
          <h2 class="mb-0">
            <button class="btn  btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{p.id}}" aria-expanded="true" aria-controls="collapse{{p.id}}">
              <b class="text-white">
                {{p.title}}
              </b>
            </button>
          </h2>
        </div>
    
        <div id="collapse{{p.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            {{p.message}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
  </section>
</div>

{% endblock content %}

          