{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block vendor_css %}
<link href="{% static 'vendor/airdatepicker/dist/css/datepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container py-5">
  <section class="accordion-section clearfix" aria-label="Question Accordions">

    <h2>
      Preguntas Frecuentes
    </h2>

    <form class="form-group" method="get" autocomplete="off">
      <div class="row ">
        <div class="col">
          <div class="row">
            <div class="col-md-9">
              {{filter.form.contenido|as_crispy_field}}
            </div>
            <div class="col-md-3">
              {{filter.form.rango_fechas|as_crispy_field}}
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              {{filter.form.tipos_norma|as_crispy_field}}
            </div>
          </div>
          <button class="btn btn-warning">
            Buscar
            <i class="fas fa-search"></i>
          </button>
          {% if perms.normas.add_preguntas_frecuentes and request.user.is_staff %}
          <a href="{% url 'admin:normas_preguntas_frecuentes_add' %}" class="btn btn-square btn-primary float-right">
            <i class="fas fa-plus"></i> 
            Agregar pregunta
          </a>
          {% endif %}
        </div>
      </div>
    </form>
    <div class="accordion mt-3 " id="accordionExample">
      {% for p in entity %}
      <div class="card mb-2 shadow mb-5 bg-white rounded">
        <div class="card-header bg-info " id="headingOne">
          <h2 class="mb-0">
            <button class="btn  btn-block text-left" type="button" data-toggle="collapse"
              data-target="#collapse{{p.id}}" aria-expanded="true" aria-controls="collapse{{p.id}}">
              <b class="text-white">
                {{p.title}}
              </b>
            </button>
          </h2>
        </div>

        <div id="collapse{{p.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            {{p.message}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </section>
</div>

{% include 'partials/_paginator.html' %}

{% endblock content %}
{% block vendor_js %}
<script src="{% static 'vendor/airdatepicker/dist/js/datepicker.min.js' %}"></script>
<script src="{% static 'vendor/airdatepicker/dist/js/i18n/datepicker.es.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
  $('#id_rango_fechas').datepicker({
    clearButton: true,
    range: true,
    multipleDatesSeparator: " - ",
    onSelect: function (formattedDate, date) {
      console.log(date)
    }
  })

  setTimeout(function () {
    let date_range = "{{request.GET.rango_fechas}}".split(' - ')
    if (date_range.length == 2) {
      $('#id_rango_fechas').data('datepicker').selectDate([new Date(moment(date_range[0], "DD/MM/Y")), new Date(moment(date_range[1], "DD/MM/Y"))]);
    }
  }, 100)
</script>

{% endblock %}