{% load static %}
<div class="section-slide" style="height: 2000px; max-height: 70vh;">
    <div class="wrap-slick-inicio" style="z-index: 2;">
        <div class="slick-inicio">
            <div class="item-slick-inicio" style="height: 2000px;">
                <div class="position-absolute item-slick-inicio-img" style="width: 100vw; background-image: url({% static 'img/becarios-1.jpg' %});">
                </div>
                <div class="position-absolute h-100 w-100 p-md-5 gradient-inicio" style="bottom: 0px;">
                    <div class="h-100" style="width: 100vw;">
                        <div class="row h-100 align-items-center">
                            <div class="d-flex align-items-center h-100 col-md-7">
                                <div>
                                    <h1 class="display-2 text-white font-weight-bold"><b>CURSOS EN LÍNEA</b></h1>
                                    <h3 class="display-4 text-white font-weight-bold">El primer paso para alcanzar tus metas</h3>
                                    <p class="display-5 lead my-3 text-white">Adquiere competencias digitales que te ayudarán a
                                        la hora de encontrar un trabajo, emprender o
                                        digitalizar tu negocio.</p>
                                    <input class="btn rounded-pill bg-white px-5" type="button" value="Más Información">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center h-100 col-md-5">
                            </div>
                        </div> 
                    </div>     
                </div>
            </div>
            <div class="item-slick-inicio" style="height: 2000px;">
                <div class="position-absolute item-slick-inicio-img" style="width: 100vw; background-image: url({% static 'img/UNP.jpg' %});">
                </div>
                <div class="position-absolute h-100 w-100 p-md-5 gradient-inicio" style="bottom: 0px;">
                    <div class="h-100" style="width: 100vw;">
                        <div class="row h-100 align-items-center">
                            <div class="d-flex align-items-center h-100 col-md-7">
                                <div>
                                    <h1 class="display-2 text-white font-weight-bold"><b>PROCEDIMIENTOS Y TRÁMITES DE LICENCIAS</b></h1>
                                    <h3 class="display-4 text-white font-weight-bold">Por normas, por usos y palabras claves.</h3>
                                    <p class="display-5 lead my-3 text-white">CAPRL te ayuda a agilizar tus Procedimientos y
                                        Trámites de Licencias con nuestra plataforma.</p>
                                    <input class="btn rounded-pill bg-white px-5" type="button" value="Más Información">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center h-100 col-md-5"> 
                                
                            </div>
                        </div> 
                    </div>     
                </div>
            </div>
            <div class="item-slick-inicio" style="height: 2000px;">
                <div class="position-absolute item-slick-inicio-img" style="width: 100vw; background-image: url({% static 'img/edificaciones.jpg' %});">
                </div>
                <div class="position-absolute h-100 w-100 p-md-5 gradient-inicio" style="bottom: 0px;">
                    <div class="h-100" style="width: 100vw;">
                        <div class="row h-100 align-items-center">
                            <div class="d-flex align-items-center h-100 col-md-7">
                                <div>
                                    <h1 class="display-2 text-white font-weight-bold"><b>NORMATIVA EDIFICATORIA</b></h1>
                                    <h3 class="display-4 text-white font-weight-bold">Por normas, por usos y palabras claves.</h3>
                                    <p class="display-5 lead my-3 text-white">CAPRL te ayuda con el Reglamento Comentado y con las normas
                                        del Ministerio de Vivienda, Construcción y Saneamiento (MVCS) y
                                        sus opiniones vinculantes.</p>
                                    <input class="btn rounded-pill bg-white px-5" type="button" value="Más Información">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center h-100 col-md-5"> 
                                
                            </div>
                        </div> 
                    </div>     
                </div>  
            </div>
            <div class="item-slick-inicio" style="height: 2000px;">
                <div class="position-absolute item-slick-inicio-img" style="width: 100vw; background-image: url({% static 'img/foro.jpg' %});">
                </div>
                <div class="position-absolute h-100 w-100 p-md-5 gradient-inicio" style="bottom: 0px;">
                    <div class="h-100" style="width: 100vw;">
                        <div class="row h-100 align-items-center">
                            <div class="d-flex align-items-center h-100 col-md-7">
                                <div>
                                    <h1 class="display-2 text-white font-weight-bold"><b>FORO DE DISCUSIÓN</b></h1>
                                    <h3 class="display-4 text-white font-weight-bold">¡ÚNETE A NUESTRA COMUNIDAD!</h3>
                                    <h3 class="display-4 text-white font-weight-bold">Y participa de nuestras reuniones</h3>
                                    <p class="display-5 lead my-3 text-white">Te ayudará a desarrollar tus competencias tecnológicas
                                        para el ejercicio de la profesión.</p>
                                    <input class="btn rounded-pill bg-white px-5" type="button" value="Más Información">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center h-100 col-md-5"> 
                                
                            </div>
                        </div> 
                    </div>     
                </div>
            </div>
            <div class="item-slick-inicio" style="height: 2000px;">
                <div class="position-absolute item-slick-inicio-img" style="width: 100vw; background-image: url({% static 'img/iStock-1031705720.jpg' %});">
                </div>
                <div class="position-absolute h-100 w-100 p-md-5 gradient-inicio" style="bottom: 0px;">
                    <div class="h-100" style="width: 100vw;">
                        <div class="row h-100 align-items-center">
                            <div class="d-flex align-items-center h-100 col-md-7">
                                <div>
                                    <h1 class="display-2 text-white font-weight-bold"><b>FICHAS TÉCNICAS Y PROVEEDORES</b></h1>
                                    <h3 class="display-4 text-white font-weight-bold">Fundamental para nuestro negocio</h3>
                                    <p class="display-5 lead my-3 text-white">Analizaremos la importancia de una buena gestión de
                                        proveedores y cómo su apropiada administración.</p>
                                    <input class="btn rounded-pill bg-white px-5" type="button" value="Más Información">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center h-100 col-md-5"> 
                                
                            </div>
                        </div> 
                    </div>     
                </div>
            </div>
            <div class="item-slick-inicio" style="height: 2000px;">
                <div class="position-absolute item-slick-inicio-img" style="width: 100vw; background-image: url({% static 'img/persona-y-computador-2.jpg' %});">
                </div>
                <div class="position-absolute h-100 w-100 p-md-5 gradient-inicio" style="bottom: 0px;">
                    <div class="h-100" style="width: 100vw;">
                        <div class="row h-100 align-items-center">
                            <div class="d-flex align-items-center h-100 col-md-7">
                                <div>
                                    <h1 class="display-2 text-white font-weight-bold"><b>REGLAMENTO COMENTADO</b></h1>
                                    <h3 class="display-4 text-white font-weight-bold">Fundamental para nuestro negocio</h3>
                                    <p class="display-5 lead my-3 text-white">Analizaremos la importancia de una buena gestión de
                                        proveedores y cómo su apropiada administración.</p>
                                    <input class="btn rounded-pill bg-white px-5" type="button" value="Más Información">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center h-100 col-md-5"> 
                                
                            </div>
                        </div> 
                    </div>     
                </div>
            </div>
        </div>
    </div>

    {% if not request.user %}
    <div class="position-relative h-100 p-md-5" style=" height: 2000px; bottom: 100%; width: 0;">
        <div class="h-100" style="width: 100vw;">
            <div class="row h-100 align-items-center" style="justify-content: flex-end;">
                <div class="d-flex align-items-center justify-content-center h-100 col-md-5"> 
                    <div class="bg-white px-4 pt-4" style="z-index: 2;">
                        <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                            <li class="nav-item w-100 text-center" role="presentation">
                                <a class="nav-link active p-0 text-black-50 m-0" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Acceder</a>
                            </li>
                        </ul>
                        <div class="py-4">
                            <form action="" class="py-4 px-2">
                                <div class="form-group">
                                    <label class="sr-only" for="inlineFormInputGroupUsername">Ingrese CAP o Correo</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <div class="input-group-text" style="color: #1538c8;"><i class="fa-solid fa-user"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Ingrese CAP o Correo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="inlineFormInputGroupPassword">Contraseña</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <div class="input-group-text" style="color: #1538c8;"><i class="fa-solid fa-lock"></i></div>
                                        </div>
                                        <input type="text" class="form-control" id="inlineFormInputGroupPassword" placeholder="Contraseña">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                        <label class="form-check-label text-black-50" for="invalidCheck">
                                        Mantenerme registrado
                                        </label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary" style="background-color: #1538c8;" type="submit">Iniciar Sesión</button>
                                </div>
                            </form>
                            <div class="text-center pt-4 text-black-50 mx-2" style="border-top: 1px solid rgba(0,0,0,.5);">
                                <div><a class="text-black-50" href="">¿Olvidaste tu contraseña?</a></div>
                                <div><a class="text-black-50" href="">¿No tienes cuenta?</a> ¡Regístrate!</div>
                            </div>
                        </div>               
                    </div>
                </div>
            </div> 
        </div>     
    </div>
    {% endif %}
</div>