{% load static %}
<div class="seccion-noticias-caprl">
    <div class="container py-4">
        <h1>Noticias <b>CAPRL</b></h1>
        <div class="slick-empresas-asociadas">
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/foro.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/UNP.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/edificaciones.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/foro.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/UNP.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square" style="background-color: #418cc8;">

                </div>
            </div>
        </div>
    </div>
</div>