{% load static %}
<div class="seccion-enlaces-interes">
    <div class="container py-4">
        <h2 class="text-center">ENLACES DE <b>INTERÉS</b></h2>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img class="enlaces-interes-imagenes" src="{% static 'img/e-i-1.png' %}" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="enlaces-interes-imagenes" src="{% static 'img/e-i-2.jpg' %}" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="enlaces-interes-imagenes" src="{% static 'img/e-i-3.png' %}" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="enlaces-interes-imagenes" src="{% static 'img/e-i-4.png' %}" alt="">
            </div>
            <div class="col d-flex justify-content-center">
                <img class="enlaces-interes-imagenes" src="{% static 'img/e-i-5.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>