{% load static %}
<div class="seccion-empresas-asociadas">
    <div class="container py-4">
        <h1>Empresas <b>Asociadas</b></h1>
        <div class="slick-empresas-asociadas">
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/e-a-1.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/e-a-2.png' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/e-a-3.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/e-a-1.jpg' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <img class="empresas-asociadas-imagenes" src="{% static 'img/e-a-2.png' %}" alt="">
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square" style="background-color: red;">

                </div>
            </div>
        </div>
    </div>
</div>