{% load static %}
<div class="seccion-cursos-online">
    <div class="container py-4">
        <h1>Cursos <b>Online</b></h1>
        <div class="slick-empresas-asociadas">
            <div class="m-2 p-2">
                <div class="square">
                    <iframe style="width: 100%;"
                        src="https://www.youtube.com/embed/diAaL9-REi4?list=PLqIwMHc5XXsR_MxmtHXCzruFsQ3SXeF_I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <iframe style="width: 100%;"
                        src="https://www.youtube.com/embed/WByWUyfLmIQ?list=PLqIwMHc5XXsR_MxmtHXCzruFsQ3SXeF_I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <iframe style="width: 100%;"
                        src="https://www.youtube.com/embed/aHIAJvlw7co?list=PLqIwMHc5XXsR_MxmtHXCzruFsQ3SXeF_I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <iframe style="width: 100%;"
                        src="https://www.youtube.com/embed/MtgW_MB8ExU?list=PLqIwMHc5XXsR_MxmtHXCzruFsQ3SXeF_I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square">
                    <iframe style="width: 100%;"
                        src="https://www.youtube.com/embed/diAaL9-REi4?list=PLqIwMHc5XXsR_MxmtHXCzruFsQ3SXeF_I"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="m-2 p-2">
                <div class="square" style="background-color: #418cc8;">

                </div>
            </div>
        </div>
    </div>
</div>