{% load static %}
<nav class="navbar sticky-top navbar-light py-0 bg-cap-2">
    <div class="container">
        <div class="nav-scroller w-100 h-100">
            <nav class="nav p-0 d-flex justify-content-between align-items-stretch">
                <a class="py-4 px-3 text-white text-decoration-none a-nav" href="{% url 'home' %}">Inicio</a>
                <a class="py-4 px-3 text-white text-decoration-none a-nav" href="{% url 'buscador' %}">Búsqueda de Normas</a>
                <a class="py-4 px-3 text-white text-decoration-none a-nav" href="{% url 'foro' %}">Foro de Discusión</a>
                <a class="py-4 px-3 text-white text-decoration-none a-nav" href="{% url 'preguntas' %}">Preguntas Frecuentes</a>
                <div class="form-inline">
                    <input class="form-control mr-sm-2  nav-search" type="search" placeholder="Buscar" id="search_topnav"
                        aria-label="Search">
                </div>
            </nav>
        </div>
    </div>
</nav>