{% if request.user.user_membership %}
        <div class="dropdown-divider"></div>
        <!-- membership DEPEND OF context_processors -->
        {% if membership == 'Pago en Linea - Plan Agremiado' %}
            <a href="{% url 'cap_choose_plan' %}" class="dropdown-item  font-weight-bolder">
                <i class="fa-solid fa-cart-shopping"></i>
                Para acceder a todos nuestros beneficios actualiza tu plan aquí
            </a>
        {% elif membership == 'Pago en Linea - Plan Premium Agremiado' %}
            <a href="{% url 'cap_choose_plan' %}" class="dropdown-item  font-weight-bolder">
                <i class="fa-solid fa-cart-shopping"></i>
                Renueva tu plan aquí
            </a>
        {% elif membership == 'Pago en Linea - Plan Profesional' %}
            <a href="{% url 'client_choose_plan' %}" class="dropdown-item  font-weight-bolder">
                <i class="fa-solid fa-cart-shopping"></i>
                Renueva tu plan aquí
            </a>
        {% elif membership == 'Pagos Presenciales - Plan Profesional' %}
        <a href="#" class="dropdown-item  font-weight-bolder">
            <i class="fa-solid fa-cart-shopping"></i>
            Renueva tu plan acercandote a las oficionas del C.A.P.
        </a>
        {% elif membership == 'Pagos Presenciales - Plan Premium Agremiadoo' %}
        <a href="#" class="dropdown-item  font-weight-bolder">
            <i class="fa-solid fa-cart-shopping"></i>
            Renueva tu plan acercandote a las oficionas del C.A.P.
        </a>
        {% endif %}
    
{% endif %}